NODE_ENV=development
PORT=5001

MONGODB_URI=mongodb://127.0.0.1:27017/insurance_platform
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=2h

FRONTEND_URL=http://localhost:3000

HTTPS_PFX_PATH=./cert/server.pfx
HTTPS_PFX_PASSPHRASE=replace_with_pfx_password

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=insurance-platform
KEYCLOAK_CLIENT_ID=backend-api
KEYCLOAK_CLIENT_SECRET=xxxxxxxxxxxxxxxx
KEYCLOAK_BACKEND_CALLBACK_URL=http://localhost:5000/api/keycloak/callback
KEYCLOAK_FRONTEND_SUCCESS_REDIRECT_URL=http://localhost:3000/dashboard
KEYCLOAK_FRONTEND_FAILURE_REDIRECT_URL=http://localhost:3000/login?error=keycloak